.reaction-animation {
  position: absolute;
  left: 20%;
  top: 20%;
  height: 5px;
  width: 5px;
  animation: emote-container-up 1000ms 0s forwards;
}

.reaction-emote {
  position: absolute;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  width: 30px;
}

.reaction-emote img {
  width: 100%;
}

.reaction-emote-1 {
  animation-name: emote-1;
}

.reaction-emote-2 {
  animation-name: emote-2;
}

.reaction-emote-3 {
  animation-name: emote-3;
}

.reaction-emote-4 {
  animation-name: emote-4;
}
.reaction-emote-5 {
  animation-name: emote-5;
}

@keyframes emote-container-up {
  0% {
    transform: translate3d(0px, 0px, 0px) scale(1);
  }
  100% {
    transform: translate3d(0px, -20px, 0px) scale(1.8);
  }
}

@keyframes emote-1 {
  0% {
    opacity: 1;
    transform: translate3d(-10px, 0px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(-20px, -40px, 0px);
  }
}

@keyframes emote-2 {
  0% {
    opacity: 1;
    transform: translate3d(-18px, 2px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(-50px, -80px, 0px);
  }
}

@keyframes emote-3 {
  0% {
    opacity: 1;
    transform: translate3d(10px, -5px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(70px, -65px, 0px);
  }
}

@keyframes emote-4 {
  0% {
    opacity: 1;
    transform: translate3d(-6px, 0px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(-60px, -45px, 0px);
  }
}

@keyframes emote-5 {
  0% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(5px, -80px, 0px);
  }
}
