.talking-to-rats-screen {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.talking-to-rats-screen img.couch {
  position: absolute;
  top: 0;
  left: 0;
}

.talking-to-rats-screen img {
  width: 100%;
  height: 100%;
}

.player-rat,
.contestant {
  position: absolute;
  top: 0;
  right: 0px;
  width: 100%;
  height: 100%;
  transition: right 800ms ease-in-out;
}

.contestant:not(.current-rat) {
  right: 100%;
}

.talking-to-rats-screen .rat-name {
  background-color: var(--secondary-background-color);
  width: fit-content;
  padding: 13px 20px 5px 20px;
  margin-left: 20px;
  border-radius: 10px 10px 0 0;
}

.talking-to-rats-screen .dialogue-img {
  animation: fadeIn ease 2s;
  width: 120px;
}

.talking-to-rats-screen .rat-dialogue {
  font-family: var(--body-font-stack);
  font-size: var(--body-font-size);
  padding: 16px 32px 24px;
  background-color: var(--background-color);
  width: 100%;
  border-top: 13px solid var(--secondary-background-color);
}

.talking-to-rats-screen .rat-dialogue.angry {
  transition-duration: 200ms;
  background-color: rgb(114, 46, 46);
}

.talking-to-rats-screen .rat-dialogue.reacting {
  padding: 35px;
}

.talking-to-rats-screen .rat-dialogue img {
  height: 80px;
  width: auto;
}

.talking-to-rats-screen .dialogue-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
  transition: bottom 800ms ease-in-out;
}

.talking-to-rats-screen .dialogue-container.dialogue-out {
  bottom: -400px;
}

.talking-to-rats-screen button {
  font-family: var(--body-font-stack);
  font-size: 17px;
  padding: 5px 10px;
  margin-right: 4px;
}

.talking-to-rats-screen .responses {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 4px;
  margin-top: 16px;
}

.mobile-responses {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
}

@media only screen and (hover: none) {
  .talking-to-rats-screen .rat-dialogue {
    padding: 15px 20px 15px 20px;
  }

  .talking-to-rats-screen .rat-dialogue img {
    height: 40px;
  }
}
