.talking-to-rats-screen {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.talking-to-rats-screen .all-images-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 675px;
  transform-origin: top left;
}

.talking-to-rats-screen .all-images-container img {
  display: block;
  position: absolute;
}

/* .talking-to-rats-screen .all-images-container.bus .background {
  transform: translate(-1050px, -788px);
}

.talking-to-rats-screen .all-images-container.bus .contestant {
  opacity: 0;
  animation: fadeIn 10ms 5s forwards;
}

.talking-to-rats-screen .all-images-container.bus {
  transform: translateY(425px) scale(calc(0.3 * var(--game-width, 900) / 900));
  animation: bus 3s ease-in 2.5s forwards;
} */

.talking-to-rats-screen .all-images-container .contestant {
  opacity: 0;
}

.talking-to-rats-screen .all-images-container.show-contestants .contestant {
  opacity: 1;
}

.player-rat,
.contestant {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: auto;
  transition: right 800ms ease-in-out;
}

.contestant:not(.current-rat) {
  right: 100%;
}

.talking-to-rats-screen .rat-name {
  background-color: var(--secondary-background-color);
  width: fit-content;
  padding: 13px 20px 5px 20px;
  margin-left: 20px;
  border-radius: 10px 10px 0 0;
}

.talking-to-rats-screen .dialogue-img {
  animation: fadeIn ease 2s;
  width: 120px;
}

.talking-to-rats-screen .rat-dialogue {
  font-family: var(--body-font-stack);
  font-size: var(--body-font-size);
  padding: 16px 32px 24px;
  background-color: var(--background-color);
  width: 100%;
  border-top: 13px solid var(--secondary-background-color);
}

.talking-to-rats-screen .rat-dialogue.angry {
  transition-duration: 200ms;
  background-color: rgb(114, 46, 46);
}

.talking-to-rats-screen .rat-dialogue.reacting {
  padding: 35px;
}

.talking-to-rats-screen .rat-dialogue img {
  height: 80px;
  width: auto;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

.talking-to-rats-screen .dialogue-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
  transition: bottom 800ms ease-in-out;
}

.talking-to-rats-screen .dialogue-container.dialogue-out {
  bottom: -400px;
}

.talking-to-rats-screen button {
  font-family: var(--body-font-stack);
  font-size: 17px;
  padding: 5px 10px;
  margin-right: 4px;
}

.talking-to-rats-screen .responses {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 4px;
  margin-top: 16px;
}

.talking-to-rats-screen .responses .response {
  transition: opacity 1s;
  opacity: 1;
}

.talking-to-rats-screen .responses .response.hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-responses {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
}

.talking-to-rats-screen .leaving-modal {
  position: absolute;
  top: 150px;
  border: 2px solid var(--text-color);
  left: calc(50% - 120px);
  padding: 32px;
  width: 240px;
  z-index: 1000;
  background-color: var(--background-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 12px;
}

.mobile-mode .talking-to-rats-screen .rat-dialogue {
  padding: 15px 20px 15px 20px;
}

.mobile-mode .talking-to-rats-screen .rat-dialogue img {
  height: 40px;
}

.mobile-mode .mobile-responses button.response {
  font-size: 12px;
}
