.intro-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  background-image: url('../../../public/images/intro/intro.gif');
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro-screen .cta {
  margin-top: 500px;
}

.intro-screen .intro-bg {
  position: absolute;
  inset: 0;
}

.embark-button {
  display: flex;
  align-items: center;
  column-gap: 12px;
  line-height: 100%;
  justify-content: center;
}

.embark-button img {
  height: 36px;
}

.mobile-mode .intro-screen button {
  display: none;
}

.mobile-mode .embark-button {
  padding: 12px;
}

.mobile-mode .embark-button img {
  height: 20px;
}
