.intro-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  background-image: url(../../assets/images/intro.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro-screen .cta {
  margin-top: 500px;
}

@media only screen and (hover: none) {
  .intro-screen button {
    display: none;
  }
}
