* {
  box-sizing: border-box;
}

html {
  margin: 0px;
  min-width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
  background-image: url(./assets/images/wallpaper.png);
  background-size: 442px 250px;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font-stack);

  color: var(--text-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

button {
  font-family: var(--fancy-font-stack);
  padding: 12px 20px;
  font-size: 32px;
  border-radius: 40px;
  background: var(--button-color);
  color: var(--text-color);
  border: 3px solid var(--button-outline-color);
  transition: background-color var(--short-transition-duration);
}

button:hover {
  cursor: pointer;
  background: var(--button-color-hover);
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 12;
  padding: 12px;
  background-color: var(--secondary-background-color);
  top: 0px;
}

/** Non-game UI */
.stickers {
  position: absolute;
  top: 14px;
  width: auto;
  right: 108px;
  color: var(--text-color);
  font-family: 'Yusei Magic', sans-serif;
  background-color: var(--background-color);
  padding: 10px 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 12px;
}

.stickers:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

.credit-title {
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 13px 3px;
  margin: 0;
  font-size: 16px;
  display: block;
}

.credits {
  position: absolute;
  top: 14px;
  width: auto;
  right: 12px;
  padding: 0 12px;
  border-radius: 12px;
  line-height: 105%;
  background-color: var(--background-color);
  font-family: Yusei Magic;
  text-align: center;
  color: var(--text-color);
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.credits a {
  color: rgb(108, 18, 187);
}

.algorats-credit-small {
  font-size: 14px;
}

.sound-credit {
  font-size: 11px;
  font-style: italic;
}

.credits:hover .credit-title,
.credits .algorats-credit,
.credits .algorats-credit-small,
.credits .sound-credit {
  display: none;
}

.credits:hover .algorats-credit,
.credits:hover .algorats-credit-small,
.credits:hover .sound-credit {
  display: block;
  z-index: 1000;
}

/* hidden from regular users but visible to screenreaders. */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
