* {
  box-sizing: border-box;
}

@font-face {
  font-family: Beta54;
  src: url('fonts/Beta54.ttf');
}

@font-face {
  font-family: NunitoVariable;
  src: url('fonts/Nunito-VariableFont_wght.ttf');
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  margin: 0px;
  min-width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  position: relative;
  background-image: url(./assets/images/wallpaper.png);
  background-size: 442px 250px;
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font-stack);
  font-size: var(--body-font-size);
  font-weight: 700;
  color: var(--text-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

button {
  font-family: var(--fancy-font-stack);
  padding: 20px 30px;
  font-size: var(--button-font-size, 32px);
  font-weight: 700;
  border-radius: 30px;
  box-shadow: 2px 5px 0px 1px var(--secondary-background-color);
  background: var(--button-color);
  color: var(--button-text-color);
  border: 3px solid var(--button-outline-color);
  transition: background-color var(--short-transition-duration);
  letter-spacing: 0.05em;
}

header button,
button.small {
  padding: 10px 12px;
  font-size: var(--small-button-font-size, 20px);
  border-radius: 40px;
}

button:hover {
  cursor: pointer;
  background: var(--button-color-hover);
}

header {
  position: absolute;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
  background-color: var(--secondary-background-color);
  top: 0px;
  border-bottom: 2px solid var(--text-color);
}

p,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: var(--heading-font-size);
  font-family: var(--fancy-font-stack);
  font-weight: 700;
  letter-spacing: 0.05em;
}

h3 {
  font-size: var(--medium-font-size);
  font-family: var(--fancy-font-stack);
  font-weight: 700;
  letter-spacing: 0.07em;
}

.heading-medium {
  font-size: var(--medium-font-size);
  font-family: var(--body-font-stack);
  font-weight: 600;
}

/** Non-game UI */
.stickers {
  position: absolute;
  top: 14px;
  width: auto;
  right: 108px;
  color: var(--text-color);
  font-family: 'Yusei Magic', sans-serif;
  background-color: var(--background-color);
  padding: 10px 10px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 12px;
}

.stickers:hover {
  background-color: var(--secondary-background-color);
}

.credit-title {
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 13px 3px;
  margin: 0;
  font-size: 16px;
  display: block;
}

.credits {
  position: absolute;
  top: 14px;
  width: auto;
  right: 12px;
  padding: 0 12px;
  border-radius: 12px;
  line-height: 105%;
  background-color: var(--background-color);
  text-align: center;
  color: var(--text-color);
  font-size: 18px;
  text-decoration: none;
  font-family: var(--body-font-stack);
  z-index: 1001;
}

.algorats-credit {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.credits a {
  color: var(--text-color);
}

.credits:hover .credit-title,
.credits .algorats-credit {
  display: none;
}

.credits:hover .algorats-credit {
  display: flex;
  z-index: 1001;
}

/* hidden from regular users but visible to screenreaders. */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media only screen and (hover: none) {
  #root {
    display: block;
  }

  /** The only iframe on the page should be the kofi widget. */
  iframe,
  .floatingchat-container,
  .not-on-mobile {
    display: none;
  }

  button {
    padding: 12px 16px;
  }
}
