:root {
  --game-width: 900px;
  --short-transition-duration: 300ms;

  --background-color: #282da8;
  --secondary-background-color: #774db4;
  --text-color: #fbd8e6;
  --button-color: #ffeaa0;
  --button-text-color: #1f1179;
  --button-color-hover: #fff9db;
  --button-outline-color: #1f1179;
  --button-shadow-color: #ab62bc;

  --fancy-font-stack: AppleButter, sans-serif;
  --body-font-stack: 'DM Sans', sans-serif;

  --heading-font-size: 36px;
  --medium-font-size: 24px;
  --button-font-size: 36px;
  --small-button-font-size: 20px;
  --body-font-size: 22px;
}

@media only screen and (hover: none) {
  :root {
    --game-width: auto;
    --short-transition-duration: 300ms;

    --heading-font-size: 20px;
    --medium-font-size: 18px;
    --button-font-size: 16px;
    --small-button-font-size: 16px;
    --body-font-size: 12px;
  }
}
